<div class="container">
<nav class="navbar navbar-expand-md navbar-light color">

  <a class="navbar-brand" href="/">Meetup App</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/sign-up']">Sign Up</a>
      </li>
    </ul>
  </div>
</nav>
</div>

<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading pd">Login in</h2>

    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required
      autofocus>

    <br>

    <label for="inputPassword" class="sr-only">Password</label>

    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password"
      required>

    <br>

    <a [routerLink]="['/forgotPassword']">Forgot Password</a><br>
    <button class="btn btn-lg btn-warning btn-block" type="button" (click)="signinFunction()">Sign in</button>

  </div>

  <div class="col-sm"></div>

</div>