<!DOCTYPE html>
<app-root>
    <div class="container">
      <div class="row">
        <div id="loader">
            <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="dot"></div>
          <div class="loading"></div>
        </div>
      </div>
    </div>
  </app-root>
<div class="navcolor">
    <div class="container">
        <nav class="navbar navbar-light color">
            <a class="navbar-brand" routerLink="/home">Meetup App</a>
        </nav>
    </div>
    <div class="container pd">
        <div class="jumbotron">
            <h1 class="display-4">Hello, welcome back!</h1>
            <p class="lead">This is a simple <b>Meeting Planner</b> web app.</p>
            <hr class="my-4">
            <p>Please login to setup meetings.</p>
    
            <span class="buttonpd">
              <a class="btn btn-warning btn-lg" routerLink="/signup" role="button">Sign-up</a>
          </span>
  
          <a class="btn btn-warning btn-lg" routerLink="/login" role="button">Login</a>
  
    
        </div>
    </div>
</div>
